<!DOCTYPE html>
<html>
<head>
	<title>PicBunker</title>
</head>

<div class="container-fluid">
<body class="homebody">

<h1 class="hometitle">This is PicBunker, an application where anyone can upload pictures</h1>

<div class="picbutton">
<%= link_to 'Check out the bunker', index_path, class: "btn btn-primary" %>
</div>


</body>
</div>
</html>